@model ErrorViewModel
<div class="d-flex align-items-center justify-content-center">
    <div class="text-center">
        <p class="fs-3"> <span class="text-danger">Opps!</span>@Model.ErrorMessage</p>
        <p class="lead">
            @Model.ErrorDetails
        </p>
    </div>
</div>